<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="dashboard.css">
</head>

<body>
    <div class="header"></div>
    <div class="title">Siddiqie Stacks</div>
    <div class="dashboard">Dashboard</div>
    <form action="working" method="post">
        <button class="box1">Messages</button>
        <button class="box2">Articles</button>
        <button class="box3">Posts</button>
    </form>
    <img src="file_00000000efa07206ab6dfd2c37f967b4.png" class="logo">
</body>

</html>