<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" href="front.css">
</head>

<body>
    <div class="header"></div>
    <form action="signUp" method="get">
        <button class="signUpButton"></button>
    </form>
    <p class="topHeading">A Project By</p>
    <p class="name">Asaad Nadeem</p>
    <div class="titleBox"></div>
    <p class="title">Siddiqie Stacks</p>
    <form action="login" method="get">
        <button class="loginButton"></button>
    </form>
    <p class="signUpQ">New at Siddiqie Stacks?</p>
    <p class="loginQ">Already have an Account?</p>
    <p class="signUpText">Sign-Up</p>
    <p class="loginText">Login</p>
    <div class="welcomeBox"></div>
    <p class="welcomeText">Welcome</p>
    <img src="file_00000000efa07206ab6dfd2c37f967b4.png" class="logo">
    <img src="Asaad_Nadeem-removebg-preview.png" class="pic">
</body>

</html>