<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Siddiqie Stacks</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="firstRec"></div>
    <div class="lastRec"></div>
    <div class="midRec"></div>
    <p class="welcomeText">Welcome To</p>
    <div class="titleBox"></div>
    <h1 class="titleText">Siddiqie Stacks</h1>
    <p class="discPlat">Your All in One Platform for :</p>
    <div class="discBox1"></div>
    <div class="discBox2"></div>
    <div class="discBox3"></div>
    <h1 class="discText1">Messages</h1>
    <h1 class="discText2">Posts</h1>
    <h1 class="discText3">Articles</h1>
    <h1 class="lastText">& Many More</h1>
    <img src="file_00000000efa07206ab6dfd2c37f967b4.png" class="logo">

    <form action="getStarted" method="post">
        <button type="submit" class="getStartedButton">Get Started</button>
        <!-- <p class="getText">Get Started</p> -->
    </form>
</body>
</html>