<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="oneButton.css">
</head>
<body>
    <!-- <h3 th:text="'Hello ' + ${firstName} + ' ' + ${lastName}
    + 'Your username is ' + ${username} + ' and Password is ' + ${password1}"></h3> -->
    <div class="header"></div>
    <div class="bigBox">Welcome</div>
    <div class="title">Siddiqie Stacks</div>
    <form action="dashboard" method="post">
        <button type="submit" class="button">Continue</button>
    </form>
    <img src="file_00000000efa07206ab6dfd2c37f967b4.png" class="logo">
</body>
</html>